{#
/**
 * @file agorabanner_slider.html.twig
 * Default theme implementation to present a banner slider.
 *
 * @see template_preprocess_agorabanner_slider()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('image-slideshow', 'init-slick') }} data-slick='{"slidesToShow": 1}' data-equalizer="slider">
  {% for key, item in items %}
    <div{{ item_attributes[key].addClass('image-slideshow__item', 'background-cover') }}>
      <div class="image-slideshow__item-content row" data-equalizer-watch="slider">
        <div class="small-12 columns align-self-middle">
          {{ item }}
        </div>
      </div>
    </div>
  {% endfor %}
</div>